{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<h3 class="mt-5 pt-4 text-center">{{user.username}}を編集</h3>
<div class="row d-flex flex-column align-items-center justify-content-center">
  <div class="col-md-4 my-3">
    <form class="form-signin" method="post">
      {% csrf_token %}

      <label for="id_username" class="text-secondary">名前</label>
      {{ form.username|add_class:"form-control mb-3" }}

      <label for="id_email" class="text-secondary">メールアドレス</label>
      {{ form.email|add_class:"form-control mb-3"}}

      <label for="id_password1" class="text-secondary">新しいパスワード</label>
      {{ form.password1|add_class:"form-control mb-3"}}

      <label for="id_password2" class="text-secondary">パスワード(確認用)</label>
      {{ form.password2|add_class:"form-control mb-3"}}

      <button type="submit" class="btn btn-primary btn-block mt-5">編集内容を登録する</button>
      <div class="w-100 text-center mt-3">
        <a href="{% url 'user_app:delete' user_id=user.id %}">退会する</a>
      </div>
    </form> 
{% endblock %}